/*        Grid de produtos            */

#grid {
  width: 100%;
  height: 85%;
  margin-top: 1.563rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  background-color: aliceblue;
}

.grid-btn {
  width: 45%;
  display: inline-block;
  margin-top: 0.625rem;
  padding: 0.625rem 1.25rem;
  background: transparent;
  color: #000;
  text-decoration: none;
  border: 1px solid #000;
  font-weight: 400;
  cursor: pointer;
}

.grid-btn:hover {
    background-color: #000;
    color: #fff;
}

.grid-text {
  width: 37.5rem;
  padding: 1.875rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.875rem;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.thumbs {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  /* gap: 1.25rem; */
}
.thumbs > a {
  max-width: 9.375rem;
  height: 9.375rem;
  margin: 0.625rem;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 0 3px white, 0 5px 8px 3px rgba(0, 0, 0, 0.6);
}
.thumbs > a img {
  transform: scale(1);
  transition: transform 0.1s ease-in-out;
  filter: grayscale(50%);
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  width: 200px;
}
.thumbs > a:hover img {
  transform: scale(1.1);
  filter: grayscale(0%);
}

.lightbox {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  transform: translateY(-100%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: 9999;
  padding-left: 10%;
}
.lightbox:has(div:target) {
  transform: translateY(0%);
  opacity: 1;
}
.lightbox a.nav {
  text-decoration: none;
  color: white;
  font-size: 2.5rem;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.8);
  opacity: 0.5;
  font-weight: 200;
}
.lightbox a.nav:hover {
  opacity: 1;
}
.lightbox .target {
  position: absolute;
  height: 100%;
  width: 80%;
  display: flex;
  transform: scale(0);
  align-items: center;
  justify-content: space-between;
}
.lightbox .target *:first-child, .lightbox .target *:last-child {
  flex: 0 0 6.25rem;
  text-align: center;
}
@media all and (max-width: 600px) {
  .lightbox .target *:first-child, .lightbox .target *:last-child {
    flex: 0 0 3.125rem;
  }
}
.lightbox .target .content {
  transform: scale(0.9);
  opacity: 0;
  flex: 1 1 auto;
  align-self: center;
  max-height: 100%;
  min-height: 0;
  min-width: 0;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 0 3px white, 0 5px 8px 3px rgba(0, 0, 0, 0.6);
  transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
}
.lightbox .target .content img {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: calc(100vh - 40px);
  display: block;
  margin: 0;
}
.lightbox .target:target {
  transform: scale(1);
}
.lightbox .target:target .content {
  transform: scale(1);
  opacity: 1;
}
.lightbox .close {
  position: absolute;
  right: 0.625rem;
  top: 0.625rem;
}

/*# sourceMappingURL=style.css.map */


/* 📱 Para celulares médios */
@media (max-width: 480px) {

    /* ///////// Grid de Produtos ///////// */

    .thumbs {
      grid-template-columns: repeat(2, minmax(10.625rem, 1fr));
      /* gap: 1.25rem; */
   }

   #grid {
    height: 205%;
      display: flex;
      flex-direction: column;
   }

   .grid-text {
    width: 20rem;
      gap: 0.625rem;
   }

   .grid-text p {
    font-size: 0.9375rem;
 }

 .grid-btn {
   width: 50%;
 }
}

/* 📱 Para celulares médios */
@media (max-width: 375px) {
  
  #grid {
    height: 270%;
      display: flex;
      flex-direction: column;
   }
}
